<div class="w-full h-24 flex justify-center text-xl border-b-4 border-a-yellow">
    <div class="w-5/6 flex justify-between px-6">
        <div class="flex items-center">
            <a class="text-3xl" [routerLink]="''">KBCoding</a>
        </div>
        <div class="flex justify-center flex-col">
            <ul class="flex animate-fade-down ease-in-out duration-200">
                <li class="px-4 hover:text-l-grey" *ngFor="let link of links">
                    <a *ngIf="link.url === '#'" href="#">
                        <app-brackets [name]="link.name" [active]="false"></app-brackets>
                    </a>
                    <a *ngIf="link.url !== '#'" [routerLink]="link.url">
                        <app-brackets [name]="link.name" [active]="isActive(link.url)"></app-brackets>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>