<div class="flex justify-center">
    <div class="w-5/6 py-6">
        <h1 class="text-2xl pb-4">Add A Project</h1>
        <div class="w-full bg-grey-light h-full">
            <h1 class="text-2xl pb-4">Project Info</h1>
            <form class="grid grid-cols-12 gap-4 bg-md-grey" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
                <div class="col-span-8 p-10">
                    <div  class="flex flex-col gap-y-2" [ngClass]="{'hidden': !showProjectInfo}">
                            <label for="project-name">Project Name: </label>
                            <input id="project-name" type="text" formControlName="projectName">
                            <br />
                            <label for="project-description">Project Description: </label>
                            <input id="project-description" type="text" formControlName="projectDescription">
                    </div>
                    <div id="sectionInfo" class="flex flex-col gap-y-2" [ngClass]="{'hidden': !showSectionInfo}"formArrayName="sections">                                            
                        <div class="flex flex-col gap-y-2 bg-l-grey p-4" *ngFor="let section of sections.controls; let i=index" [formGroupName]="i">
                            <label for="section-name-{{i}}" >Section Name: </label>
                            <input id="section-name-{{i}}" type="text" formControlName="sectionName">
                            <button type="button" (click)="addSection()">+ Add Section</button>

    
                            <div class="flex flex-col gap-y-2" formArrayName="videos">
                                <button type="button" (click)="addVideo(i)">+ Add Video</button>
                                
                                <div class="flex flex-col gap-y-2" *ngFor="let video of getVideos(section); let j=index" [formGroupName]="j">
                                    <label for="video-name-{{j}}" >Video Name: </label>
                                    <input id="video-name-{{j}}" type="text" formControlName="videoName">
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-span-4 text-2xl text-center border-l-2 border-white py-10">
                   <div class="py-2 hover:bg-l-grey cursor-pointer" (click)="toggleInfoToShow('project')">Project Info</div>
                   <div class="py-2 hover:bg-l-grey cursor-pointer" (click)="toggleInfoToShow('section')">Section Info</div>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>