<div class="bg-md-grey w-full h-96 flex justify-center">
    <div class="w-5/6 flex flex-col items-center justify-center">
        <div class="flex flex-col items-center justify-center py-6">
            <h1 class="text-3xl">Advance Your Skill</h1>
            <h3 class="text-xl">with In-Depth, Modern Frontend to Fullstack Courses</h3>
        </div>
        <button class="border-2 border-a-green hover:bg-a-green hover:text-md-grey p-4 animate-fade-down ease-in-out duration-200" type="btn">Browse Courses</button>
    </div>
</div>
