.about-content {
  color: white;
  text-align: left;
}

.about-sub-title {
  padding-bottom: 15px;
}

.img-styles {
  width: 70%;
  height: auto;
  border-radius: 10%;
  border: 2px solid #f3e98b;
  box-shadow: 0.5em 0.5em 1em black;
  margin-top: 30px;
}

.job-title {
  padding: 10px;
  text-align: center;
}

.ap-1,
.ap-2,
.ap-3,
.ap-4 {
  margin-bottom: 1rem;
}

.experience-block {
  margin-bottom: 1rem;
}

.experience-block p {
  margin-bottom: 0.25rem;
}
